@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --primary-color: #361a5a;
  --secondary-color: #0e010b;
  --primary-color-dark: #35090b;
  --bg-dark: #000000;
  --bg-light: #000000;
  --text-light: #a3a3a3;
  --white: #ffffff;
  --max-width: 1200px;
  --gradient: linear-gradient(
    to right,
    var(--primary-color),
    var(--secondary-color)
  );
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.section__container {
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem 1rem;
}

.section__header {
  margin-top: 2rem;
  font-size: 2rem;
  font-weight: 600;
  text-align: center;

}

.section__description {
  margin-bottom: 1rem;
  color: var(--text-light);
  text-align: center;
}

.btn {
  padding: 0.75rem 2rem;
  font-size: 1rem;
  color: var(--white);
  white-space: nowrap;
  background: var(--gradient);
  outline: none;
  border: none;
  border-radius: 5rem;
  cursor: pointer;
  transition: 0.3s;
}
.btn:hover {
    background: var(--secondary-color);

  }

img {
  width: 100%;
  display: flex;
}

a {
  text-decoration: none;
}

.logo {
  max-width: 120px;
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--white);
  background-color: var(--bg-light);
}

.header {
    position: relative;
    height: 100vh; /* Set the header height to full viewport height */
}

.header__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Place the video behind other content */
    overflow: hidden; /* Hide overflow to prevent scrollbars */
}

.header__video video {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Cover the entire header with the video */
}
nav {
  max-width: var(--max-width);
  margin: auto;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.header__container {
  padding-block: 6rem 10rem;
  display: grid;
  gap: 4rem 2rem;
}

.header__image img {
  max-width: 350px;
  margin: auto;
  border-radius: 1rem;
  box-shadow: 30px 30px 0 0 var(--secondary-color);
}

.header__content {
  text-align: center;
}

.header__content h1 {
  margin-bottom: 1rem;
  font-size: 3rem;
  font-weight: 600;
}

.header__content .section__description {
  color: var(--white);
  margin-bottom: 2rem;
}

.banner__header :is(.section__header, .section__description) {
  max-width: 900px;
  margin-inline: auto;
}

.banner__header__grid {
  margin-top: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.banner__header__grid > div {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.banner__header__grid h4 {
  font-size: 2rem;
  line-height: 2rem;
  background: var(--gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.banner__container {
  background-image: var(--gradient);
}

.banner__content {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

.banner__content .btn {
  color: var(--primary-color);
  background: var(--white);
}
.banner__content .btn:hover {
    color: var(--bg-light);
    background: var(--primary-color);
  }
  

.information__header {
  display: grid;
  gap: 2rem;
  text-align: center;
}

.information__content .section__description {
  margin-bottom: 2rem;
}

.information__video video {
  max-width: 1000px; /* Adjust the max-width to make the video smaller */
  width: 100%; /* Ensure the video takes up the available width */
  height: auto; /* Maintain aspect ratio */
  display: block; /* Ensure proper display */
  margin: auto; /* Center the video horizontally */
  border-radius: 10px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
}

.information__grid {
  margin-top: 2rem;
  display: grid;
  gap: 1rem;
}

.information__card {
  padding: 4rem 2rem;
  background-color: var(--bg-dark);
  border-radius: 10px;
  text-align: center;
}

.information__card h4 {
  position: relative;
  margin-bottom: 2rem;
  font-size: 1.2rem;
  font-weight: 600;
}

.information__card h4::after {
  position: absolute;
  content: "";
  bottom: -1rem;
  left: 50%;
  transform: translateX(-50%);
  width: 2rem;
  height: 2px;
  background-color: var(--text-light);
  opacity: 0.5;
}

.information__card h5 {
  margin-bottom: 0.5rem;
  font-size: 2rem;
  font-weight: 500;
  background: var(--gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.information__card h3 {
  font-size: 2rem;
  font-weight: 700;
}

.information__card h3 sup {
  font-size: 1.2rem;
}

.information__card p {
  margin-bottom: 1rem;
  color: var(--text-light);
}

.information__card .btn {
  margin-top: 1rem;
}

.testimonial {
  background-image: var(--gradient);
}

.testimonial__container {
  padding-bottom: 0;
  margin-bottom: 10rem;
}

.testimonial__container .section__description {
  max-width: 600px;
  margin: auto;
  color: var(--white);
}

.testimonial__grid {
  display: grid;
  gap: 1rem;
  transform: translateY(4rem);
}

.testimonial__card {
  padding: 2rem;
  background-color: var(--white);
  border-radius: 10px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}

.testimonial__card > div {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.testimonial__card img {
  max-width: 80px;
  border-radius: 100%;
}

.testimonial__card h4 {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--bg-dark);
}

.testimonial__card p {
  color: var(--bg-light);
}

.experience__header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.experience__header h2 {
  font-size: 8rem;
  font-weight: 600;
  line-height: 8rem;
  background: var(--gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.experience__header p {
  font-size: 2rem;
  font-weight: 600;
}

.experience__grid {
  max-width: 900px;
  margin-inline: auto;
  margin-block: 4rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 4rem 2rem;
}

.experience__grid img {
  max-width: 120px;
  margin: auto;
}

.experience__image img {
  max-width: 600px;
  margin: auto;
  border-radius: 5px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
}

.DEV__grid {
  margin-top: 4rem;
  display: grid;
  gap: 4rem 2rem;
}

.DEV__card {
  text-align: center;
}

.DEV__card img {
  max-width: 250px;
  margin-inline: auto;
  margin-bottom: 2rem;
  border-radius: 100%;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
}

.DEV__card h4 {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-weight: 600;
}

.DEV__card p {
  color: var(--text-light);
}

.subscribe__content {
  padding: 4rem 1rem;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("assets/subscribe.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 10px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
}

.subscribe__content form {
  max-width: 600px;
  margin-inline: auto;
  margin-block: 2rem;
  display: flex;
  align-items: center;
  background-color: var(--white);
  border-radius: 5rem;
}

.subscribe__content input {
  width: 100%;
  padding: 0 1rem;
  font-size: 1rem;
  color: var(--bg-dark);
  outline: none;
  border: none;
  background-color: transparent;
}

.subscribe__content .btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.subscribe__content p {
  max-width: 600px;
  margin: auto;
  text-align: center;
}

.footer {
  background-color: var(--bg-dark);
}

.footer__container {
  display: grid;
  gap: 4rem 2rem;
}

.footer__col .logo {
  margin-bottom: 2rem;
}

.footer__col .section__description {
  max-width: 350px;
  text-align: left;
}

.footer__col h4 {
  margin-bottom: 2rem;
  font-size: 1.2rem;
  font-weight: 600;
}

.footer__links {
  list-style: none;
  display: grid;
  gap: 1rem;
}

.footer__col a {
  color: var(--text-light);
  transition: 0.3s;
}

.footer__col a:hover {
  color: var(--secondary-color);
}

.footer__socials {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.footer__socials a {
  font-size: 1.5rem;
}

.footer__bar {
  padding: 1rem;
  font-size: 0.8rem;
  color: var(--text-light);
  text-align: center;
}

@media (width > 480px) {
  .information__grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .testimonial__grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .DEV__grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .experience__grid {
    grid-template-columns: repeat(4, 1fr);
  }

  .footer__container {
    grid-template-columns: repeat(2, 1fr);
  }

  .footer__col:last-child {
    grid-area: 2/1/3/2;
  }
}

@media (width > 800px) {
  nav {
    padding: 2rem 1rem;
  }

  .header__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
  .header__content {
    text-align: left; 
  }

  .header__content :is(.section__header, .section__description) {
    text-align: left;
  }

  .banner__header__grid {
    grid-gap: 4rem;
  }

  .banner__content {
    flex-direction: row;
    justify-content: space-between;
  }

  .banner__content .section__header {
    text-align: left;
  }

  .information__header {
    grid-template-columns: 1fr 2fr;
    align-items: center;
    text-align: left;
  }

  .information__header :is(.section__header, .section__description) {
    text-align: left;
  }

  .information__grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .testimonial__grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .DEV__grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .subscribe__content {
    padding: 8rem 2rem;
  }

  .footer__container {
    grid-template-columns: repeat(5, 1fr);
  }

  .footer__col:first-child {
    grid-column: 1/3;
  }

  .footer__col:last-child {
    grid-area: unset;
  }
}

@media (width > 1200px) {
  .information__grid {
    gap: 2rem;
  }

  .testimonial__grid {
    gap: 2rem;
  }
}
.sliding-box {
  position: fixed;
  bottom: 20px;
  right: -300px; /* Initially position the box outside the viewport */
  width: 300px;
  max-height: 80%;
  overflow-y: auto; /* Enable vertical scrolling if content exceeds box height */
  background-color: var(--secondary-color);
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: right 0.3s ease-in-out; /* Apply smooth transition to right property */
}

.box-content {
  padding: 20px;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

/* Style for button */
.toggle-btn {
  display: none; /* Hide toggle button initially */
}

@media (width < 800px) {
  .header__content {
    font-size: 0.01rem; /* Adjust the text size as needed */
  }
  
  .header__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Place the video behind other content */
  }
  .header__video video {
    width: 100%;
    height: 100%;
    object-fit: flex; /* Cover the entire header with the video */
  }

  .header__image img {
    max-width: 150px; /* Adjust the max-width as needed */
  }
  .nav__actions {
    display: flex;
    justify-content: center; /* Align items horizontally at the center */
  }

  .banner__header__grid {
    margin-top: 0.5rem; /* Adjusted margin for smaller screens */
    display: flex;
    flex-direction: column; /* Adjusted flex-direction for smaller screens */
    align-items: center;
    gap: 0.5rem; /* Adjusted gap for smaller screens */
  }
  
  .banner__header__grid > div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px; /* Adjusted gap for smaller screens */
  }
  
  .banner__header__grid h4 {
    font-size: 1.5rem; /* Adjusted font size for smaller screens */
    line-height: 1.2rem; /* Adjusted line height for smaller screens */
  }
}